$element-background: rgba(213, 232, 212, 0.8);
$header-background: rgba(220, 199, 255, 0.8);

@font-face {
    font-family: mainFont;
    src: url(../Enjoy\ Summer.ttf);
}
body {
    background-image: url(../Cloudy.svg);
    background-size: cover;
    margin: 0;
    color: #333333;
    font-family: mainFont;
    h1 {
        text-align: center;
    }
    // Styles for the navbar

    .navbar {
        background-image: url(../Mass\ Circles.svg);
        background-size: cover;
        font-size: xx-large;
        padding: 25px;
        text-align: center;
        font-family: mainFont;
        margin-bottom: 20px;
        a {
            color: #333333;
            transition: color 1s;
            text-decoration: none;
            margin: {
                left: 30px;
                right: 30px;
            };
            text-align: center;
            &:hover {
                color: #783dc0;
                text-decoration: overline;
            }
        }
    }

    // Styles for the Home Page
    //--------------------------------------------------------------------------------------------------------------------

    .starter-image {
        width: 20%;
        height: auto;
        display: block;
        margin: auto;
        transition: transform 0.3s ease;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
        transition: transform 0.3s ease;
    }

    .overview {
        background-color: $element-background;
        padding: 1rem;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
        }
    }

    footer {
        background-image: url(../Mass\ Circles.svg);
        background-size: cover;
        font-size: large;
        padding: 5px;
        text-align: center;
        font-family: mainFont;
        margin-top: 40px;
    }



    // Styles for the About Page
    //--------------------------------------------------------------------------------------------------------------------


    // Styles for the Gallery Page
    //--------------------------------------------------------------------------------------------------------------------
    .header {
        width: 60%;
        margin: auto;
        border-radius: 15px;
        background-color: $header-background;
        transition: transform 0.3s ease;

        h1 {
            padding: 5px;
        }
    }
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $element-background;
        border-radius: 25px;
        padding: 10px;
        box-sizing: border-box;
        width: 90%;
        margin: auto;
        height: fit-content;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .column {
        flex: 1 1 20%; 
        max-width: 20%; 
        box-sizing: border-box; 
        padding: 0 5px;
        text-align: center;
        
        .image-container {
            position: relative;
            width: 100%; 
            padding-bottom: 10px; 
            overflow: hidden; 
    
            img {
                width: 100%; 
                height: auto;
                display: block;
                border-radius: 25px;
                box-sizing: border-box; 
            }
    
            .overlay-text {
                position: absolute;
                bottom: 10px;
                left: 0; 
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
                width: 100%;
                text-align: center;
                padding: 10px;
                box-sizing: border-box; 
                opacity: 0;
                transition: opacity 0.3s ease;
                border-radius: 0 0 25px 25px; 
            }
    
            &:hover .overlay-text {
                opacity: 1; 
            }
        }
    }
    
    @media screen and (max-width: 900px) {
        .column {
            flex: 1 1 40%; 
            max-width: 40%;
        }
        .gallery {
            width: 90%; 
        }
    }
    
    @media screen and (max-width: 600px) {
        .column {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
    
    
    
    // Styles for the Events Page
    //--------------------------------------------------------------------------------------------------------------------

    /* Events section styling */
    .events {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90%;
        margin: auto;

        .event {
            display: flex;
            flex-direction: column;
            background-color: $element-background;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s ease;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .event-details {
                padding: 20px;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                text-align: center;
                width: 100%;

                h2 {
                    font-size: 1.8em;
                    color: black;
                    margin-bottom: 10px;
                }

                p {
                    color: black;
                    line-height: 1.5;
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    /* Responsive styling */
    @media (min-width: 768px) {
        .events {
            grid-template-columns: 1fr 1fr;
        }

        .event {
            flex-direction: row;

            img {
                width: 50%;
            }

            .event-details {
                width: 50%;
            }
        }
    }

    @media (min-width: 1024px) {
        .events {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .event {
            flex-direction: column;

            img {
                width: 100%;
            }

            .event-details {
                width: 100%;
            }
        }
    }

    // Styles for the Contact Page
    //--------------------------------------------------------------------------------------------------------------------

    .contact-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px;
    }
    
    .contact-form {
        background-color: $element-background;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
        
        h1 {
            margin-top: 0;
            color: #333;
        }
        
        form {
            display: flex;
            flex-direction: column;
    
            label {
                margin: 10px 0 5px;
                color: #555;
            }
    
            input,
            textarea {
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
                margin-bottom: 10px;
                font-size: 16px;
                box-sizing: border-box;
            }
    
            button {
                padding: 10px;
                border: none;
                border-radius: 4px;
                background-color: $header-background;
                color: black;
                font-size: 16px;
                font-family: mainFont;
                cursor: pointer;
                transition: background-color 0.3s ease;
                width: 100%;
    
                &:hover {
                    background-color: #c099ff;
                }
            }
        }
    }
}