@font-face {
    font-family: mainFont;
    src: url(../Enjoy\ Summer.ttf);
}
body {
    background-image: url(../Cloudy.svg);
    background-size: cover;
    margin: 0;
    font-family: mainFont;
    h1 {
        text-align: center;
    }
    // Styles for the navbar

    .navbar {
        background-color: #545B77;
        font-size: xx-large;
        padding: 25px;
        text-align: center;
        font-family: mainFont;
        margin-bottom: 20px;
        a {
            color: black;
            transition: color 1s;
            text-decoration: none;
            margin: {
                left: 30px;
                right: 30px;
            };
            text-align: center;
            &:hover {
                color: white;
                text-decoration: overline;
            }
        }
    }

    // Styles for the Home Page
    //--------------------------------------------------------------------------------------------------------------------
    .help {
        margin: auto;
        background-color: #B3C8CF;
        text-align: center;
        width: 50%;
        padding: 5px;
        border-radius: 20px;
    }


    // Styles for the About Page
    //--------------------------------------------------------------------------------------------------------------------


    // Styles for the Gallery Page
    //--------------------------------------------------------------------------------------------------------------------


    // Styles for the Events Page
    //--------------------------------------------------------------------------------------------------------------------


    // Styles for the Contact Page
    //--------------------------------------------------------------------------------------------------------------------
}